<!-- 代码 开始 -->
{% include 'base.html' %}{% block content %}{% load staticfiles %}

{% include 'slider2.html' %}
<div class="drawer-overlay">
    <main class="masthead" role="main">
        <div class="container">
            <h1 >在线视频网站</h1>
        </div>
    </main>

{#<div class="ui items">#}
{#  <div class="item">#}
{#    <div class="image">#}
{#      <img src="{% static 'images/1.png' %}">#}
{#    </div>#}
{#    <div class="content">#}
{#      <a class="header">霸王别姬</a>#}
{#      <div class="meta">#}
{#        <span>豆瓣评分最高的电影</span>#}
{#      </div>#}
{#      <div class="description">#}
{#        <p>xxxxx</p>#}
{#      </div>#}
{#      <div class="extra">Additional Details </div>#}
{#    </div>#}
{#  </div>#}
{#  <div class="item" href="./l.html">#}
{#    <div class="image" >#}
{#      <img src="{% static 'images/2.png' %}">#}
{#    </div>#}
{#    <div class="content">#}
{#      <a class="header" href="/detail/Video?id=222">标题</a>#}
{#      <div class="meta">#}
{#        <span>Description</span>#}
{#      </div>#}
{#      <div class="description">#}
{#        <p></p>#}
{#      </div>#}
{#      <div class="extra">Additional Details </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{#</div><!-- /.drawer-overlay -->#}

{% endblock %}
<!-- 代码 结束 -->
